---

---

<main
  class="flex justify-between items-center md:flex-row-reverse flex-col-reverse pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="md:w-1/2 py-6 flex justify-center">
    <div class="w-2/3">
      <img
        src="/images/me.jpeg"
        alt="Astronaut in the air"
        class="rounded-full object-cover w-96 h-96 border-[#6CD5CB] border-[12px]"
      />
    </div>
  </div>
  <div class="md:w-1/2">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      Hi, I'm Shahid Aziz 👋
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      I'm a frontend engineer specializing in building (and occasionally
      Deploying) exceptional digital experiences. Currently, I'm focused on
      building accessible, human-centered products at Brem.io.
    </p>
  </div>
</main>
